// colors
$color-primary: #91b9f4;
$color-primary-light: #c7dbf9;
$color-primary-dark: #2e67dc;

$color-secondary-light: #d3cff9;
$color-secondary-dark: #a9a0f4;

$color-tertairy-light: #f8bc95;
$color-tertairy-dark: #f1602f;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #888;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: darken(#fff, 4%);
$color-black: #000;

// font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
